# Tuplas

### Estrutura:

tupla = (valor, valor, valor, ...)

Similar à criação de listas, porém, utiliza ( ) ao invés de [ ]

### Diferença

Parece uma lista, mas é imutável. - Não é possível alterar ou adicionar valores

### Vantagens:

- Mais eficiente (em termos de performance)
- Protege a base de dados (por ser imutável)
- Muito usado para dados heterogêneos

### Criando tuplas

In [ ]:
vendas = ('Lucas', '01/01/2024', '01/01/2000', 2000, 'Auxiliar')
print(vendas)

### Acessando o valor de uma tupla

In [ ]:
# É possível fazer desta forma, mas não é usual.
"""
nome = vendas[0]
data_contratacao = vendas[1]
data_nascimento = vendas[2]
salario = vendas[3]
cargo = vendas[4]

"""

# Código abixo resulta em erro.
# vendas[3] = 3000

In [ ]:
# Recomendado utilizar try except, pois a quantidade de variáveis deve ser a mesma que a quantidade de valores. 
nome, data_contratacao, data_nascimento, salario, cargo = vendas
print(salario)

# Código abaixo resultaria em erro, pois a quantidade de variáveis é diferente da quantidade de itens na tupla :
# nome, data_contratacao, data_nascimento, salario = vendas

- o enumerate que vínhamos usando até agora, na verdade, cria uma tupla para a gente. Vamos ver na prática:

In [ ]:
vendas = [1000, 2000, 300, 300, 150]
funcionarios = ['João', 'Lira', 'Ana', 'Maria', 'Paula']

# Ao percorrer uma lista desta forma, é retornada uma tupla.
for i, venda in enumerate(vendas):
        print('{} vendeu {} unidades'.format(funcionarios[i], venda))

# Aplicação de Tupla - Lista de Tuplas

### Estrutura:

Além de casos como o do enumerate, em que usamos uma função para transformar itens em tuplas porque isso ajuda o nosso código, temos também listas de tuplas como algo comum dentro do Python.

lista = [
    tupla1,
    tupla2,
    tupla3,
    ]
    
ou seja

lista = [
    (valor1, valor2, valor3),
    (valor4, valor5, valor6),
    (valor7, valor8, valor9),
    ]

### Exemplo:

Digamos que você está analisando as vendas do Banco de Dados de um e-commerce.

Em um determinado dia, você extraiu as vendas do Banco de Dados e elas vieram nesse formato:

In [ ]:
vendas = [
    ('20/08/2020', 'iphone x', 'azul', '128gb', 350, 4000),
    ('20/08/2020', 'iphone x', 'prata', '128gb', 1500, 4000),
    ('20/08/2020', 'ipad', 'prata', '256gb', 127, 6000),
    ('20/08/2020', 'ipad', 'prata', '128gb', 981, 5000),
    ('21/08/2020', 'iphone x', 'azul', '128gb', 397, 4000),
    ('21/08/2020', 'iphone x', 'prata', '128gb', 1017, 4000),
    ('21/08/2020', 'ipad', 'prata', '256gb', 50, 6000),
    ('21/08/2020', 'ipad', 'prata', '128gb', 4000, 5000),
]

- Qual foi o faturamento de IPhone no dia 20/08/2020?
- Qual foi o produto mais vendido (em unidades) no dia 21/08/2020?

In [ ]:
# faturamento = vendas[0][4] * vendas[0][5]
#data, produto, cor, capacidade, unidades, valor_unitario = vendas[0]
faturamento_iphone = 0
produto_mais_vendido = ''
qtd_prod_mais_vendido = 0
for item in vendas:
    data, produto, cor, capacidade, unidades, valor_unitario = item 
    if 'iphone' in produto and data == '20/08/2020':
        faturamento_iphone += unidades * valor_unitario
    elif data == '21/08/2020' and unidades > qtd_prod_mais_vendido:
        qtd_prod_mais_vendido = unidades
        produto_mais_vendido = produto

#faturamento = unidades * valor_unitario
print('O faturamento de IPhone no dia 20/08/2020 foi de {}'.format(faturamento_iphone))
print(f'O produto mais vendido no dia 21/08/2020 foi {produto_mais_vendido}, com {qtd_prod_mais_vendido} unidades')